
<!DOCTYPE html>
<html>
<head>
</head>
<body>
<ul>
    <li id="med_uid">{{medicine.med_uid}}</li>
    <li>{{medicine.med_name}}</li>
    <li>{{medicine.med_type}}</li>
    <li>{{medicine.med_buyprice}}</li>
    <li>{{medicine.med_mfg}}</li>
    <li>{{medicine.med_company}}</li>
</ul>
{% if med_salt_list %}
<ul>
    {% for med_salt in med_salt_list %}
    <li>{{ med_salt.salt_name }}, {{ med_salt.salt_qty }}, {{ med_salt.salt_qty_type }}</li>
    <li>설명 : {{ med_salt.salt_desc }}</li>
    {% endfor %}
</ul>
{% else %}
<p>salt 없음</p>
{% endif %}

<button id ="send" value="{{medicine.med_uid}}">salt 추가</button>
</body>
</html>