/*Button{*/
/*    text-transform: none;*/
/*}*/

.tableContainer{
    background-color: cadetblue;
    /*margin: 20px;*/
    padding: 20px;
}

.pContainer{
    background-color: blue;

}

.pagination{
    background-color: aqua;
    display: flex;
    justify-content: center;
}

.viewBtn{
    /*background-color: chartreuse;*/
}


.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 400px;*/
}

.modalTableContainer{
    text-align: right;
    background-color: lightgray;
    padding: 10px 20px 20px 20px;
    /*height: 100%;*/
}

.iconBtn{
    background-color: red;
    text-align: center;
    /*display: flex;*/
    /*align-items: center;*/
    /*width: 300px;*/
}